.animate.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    margin-top: -300px;
}

.animate.ng-enter-active {
    margin-top: 0;
    opacity: 1;
}

.animate.ng-leave {
    -webkit-transition: 1s;
    transition: 1s;

    margin-top: 0;
    opacity: 1;
}

.animate.ng-leave-active {
    opacity: 0;
    margin-top: -300px;
}

.animate.ng-move {
    -webkit-transition: 1s;
    transition: 1s;

    background: gold;
}

.animate.ng-move-active {
    background: #fff;
}