<div class="row">
    <div class="col-sm-4" ng-repeat="project in projects">
        <a class="post-tile effect panel blankcard"
           style="background: rgba(255,255,255,0.8); padding: 0;" href="{{project.url}}">
            <!--<img class="post-tile-img layer" data-depth="0.20" src="https://placeholdit.imgix.net/~text?txtsize=38&bg=330000&txt=400%C3%97300&w=400&h=300" "-->
            <!--alt=""/>-->

            <div class="post-tile-img layer" data-depth="0.20"
                 style="background: url('images/tiles/{{project.thumb}}') center; background-size: cover; height: 300px; width: 100%"></div>

            <div class="post-tile-desc">
                <div class="post-tile-desc-inner">
                    <h2>{{project.title}}</h2>

                    <p style="float:right">
                                        <span class="count-icon">
                                                <i class="fa fa-2x fa-comment-o"></i>
                                                <span class="count">{{project.numComments}}</span>
                                        </span>
                    </p>

                    <p>{{project.description}}</p>
                </div>
            </div>

        </a>

    </div>
</div>
