<BR/>
<div class="container well well-lg">

    <div class = "" style="text-align: center; position: relative;">

        <div id="flashContent">
            Get <a href="http://www.adobe.com/go/getflash">Adobe Flash Player</a>
        </div>

        <div id="splash" class="splash" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex;justify-content: center;align-items: center;">
            <div>
                <div style="background-color: white; display: block" class="spinner"></div>
                <p id="progress-text" style="text-align: center; color: white"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">
    var flashvars = {};
    var params = {};
    var attributes = {};


    params.bgcolor="#FFFFFF";

    attributes.name = "";
    attributes.styleclass = "";
    attributes.align = "";
    //This function is invoked by SWFObject once the <object> has been created

    $("#splash").hide();
    var updateTimer;
    function updateSwf(e)
    {
        if(e.ref.PercentLoaded() == 0){
            $("#splash").show();
        }
        if(e.ref.PercentLoaded() == 100)
        {
            $("#splash").hide(1000);
            window.clearInterval(updateTimer);
        }
        $("#progress-text").text(e.ref.PercentLoaded() + "%");
    }

    var callback = function (e){
        if(e.success){
            updateTimer = setInterval(function(){updateSwf(e)},10);
        }
    };
    function showpanel() {
        //such a hack, but I'd rather do this for now and figure out swf playing in angular later (infact, the swf loc shouldnt even be in the uri, just grab from the post's model)
        var url = window.location.hash;
        var swfLoc = url.split("/").slice(-1)[0];
        swfobject.embedSWF("files/" + swfLoc, "flashContent", "1024", "600", "9.0.0", false, flashvars, params, attributes, callback);
    }

    // use setTimeout() to execute
    setTimeout(showpanel, 1000)
</script>

