<div class="container">
    </BR>
    <div class="alert alert-dismissable alert-warning" style="display: none;" id="loadingPopup">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Loading</strong> Please wait.
    </div>
    <div class="progress progress-striped active" id="progBarContainer" style="display: none;">
        <div id="progBar" class="progress-bar" style="width: 0%;"></div>
    </div>
    <div class="alert alert-dismissable alert-success" style="display: none;" id="finishedPopup">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Finished Loading</strong> SWF file <?php echo $title; ?> succesfully loaded!
    </div>
    <div class="alert alert-dismissable alert-danger" style="display: none;" id="errorPopup">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error Loading</strong> SWF file <?php echo $title; ?>
    </div>

</div>


<div class="container">
    <div class = "well well-lg" style="text-align: center">
        <div id="flashContent">
            Get <a href="http://www.adobe.com/go/getflash">Adobe Flash Player</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">
    var flashvars = {};
    var params = {};
    var attributes = {};


    params.bgcolor="#FFFFFF";

    attributes.name = "";
    attributes.styleclass = "";
    attributes.align = "";
    //This function is invoked by SWFObject once the <object> has been created

    var updateTimer;
    function updateSwf(e)
    {
        if(e.ref.PercentLoaded() == 100)
        {
            $("#finishedPopup").show(1000);
            $("#progBarContainer").hide(1000);
            $("#loadingPopup").hide(1000);
            window.clearInterval(updateTimer);
        }
        $("#progBar").css("width",e.ref.PercentLoaded() + "%");
    }

    var callback = function (e){
        if(e.success){
            $("#progBarContainer").show(1000);
            $("#loadingPopup").show(1000);
            updateTimer = setInterval(function(){updateSwf(e)},10);
        } else {
            $("#errorPopup").show(1000);
        }
    };
    function showpanel() {
        //such a hack, but I'd rather do this for now and figure out swf playing in angular later (infact, the swf loc shouldnt even be in the uri, just grab from the post's model)
        var url = window.location.hash;
        var swfLoc = url.split("/").slice(-1)[0];
        swfobject.embedSWF("files/" + swfLoc, "flashContent", "1024", "600", "9.0.0", false, flashvars, params, attributes, callback);
    }

    // use setTimeout() to execute
    setTimeout(showpanel, 1000)
</script>

