<section id="aboutSection" style="height: 100%;">

    <div class="jumbotron container" style="text-align: center">
        <h1>I'm Navjot</h1>
        <h4>a passionate programmer that loves to see a well designed system come to life through code.</h4>

        <p>Currently a Computer Engineering undergrad at the University of Waterloo</p>
        <h5>
            <span class="label label-primary">Computer Engineering Student</span>
            <span class="label label-primary">Agile</span>
            <span class="label label-primary">Test Driven Development</span>
            <span class="label label-primary">Hackathons</span>
            <span class="label label-primary">Games</span>
            <span class="label label-primary">Cycling</span>

        </h5>

        <BR>

        <style>
            .work-img {
                background: white;
                max-height: 200px;
                padding: 10px;
                transition: padding .3s;
            }

            .work-img-hover {
                padding: 5px;
            }

            .work-desc {
                background-color: #03a9f4;
                padding-top: 10px;
                padding-bottom: 10px;
                transition: opacity .3s;
            }

            .work-desc-hover {
                opacity: 0.8;
            }
            .work-items{

            }
        </style>
        <div class="row">

            <div class="col-sm-4" ng-repeat="work in workItems" class="work-items">
                <div class="panel work-item"  onmouseover="propogateHover(this);" onmouseout="removeHover(this);" style="cursor: pointer; cursor: hand;" ng-click="openWorkItem(work);">
                    <a href="" style="text-decoration: none;">
                            <img class="work-img" src="{{work.image}}"/>
                        <div class="work-desc">
                            <h4 style="  font-size: 20px;  line-height: 24px;  margin-top: 10px;  margin-bottom: 5px;  color: white;">
                                {{work.company}}, {{work.date}}</h4>

                            <p style="  font-size: 12px;  line-height: 18px;  color: #e4f5f5;">{{work.position}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script>
            var propogateHover = function(container){
                var children = container.children[0].children;
                for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if(i == 0){
                        child.className += " work-img-hover";
                    } else if(i == 1){
                        child.className += " work-desc-hover";
                    }
                }
            }

            var removeHover = function(container){
                var children = container.children[0].children;
                for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if(i == 0){
                        child.className =  child.className.replace(" work-img-hover","");
                    } else if(i == 1){
                        child.className = child.className.replace(" work-desc-hover","");
                    }
                }
            }
        </script>


        <BR>

        <a style="margin: 20px 0;" class="btn btn-primary about-button" href="https://github.com/NavjotPanesar" role="button"><i
                style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-github fa-4x"></i>github</a>
        <a style="margin: 20px 0;" class="btn btn-primary about-button" href="files/resume.pdf" role="button"><i
                style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-file-text-o fa-4x"></i>resume</a>
        <a style="margin: 20px 0;" class="btn btn-primary about-button" href="http://www.linkedin.com/in/navjotpanesar"
           role="button"><i style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-linkedin fa-4x"></i>linkedin</a>
    </div>

</section>