<section id="aboutSection" style="height: 100%;">

    <div class="jumbotron container" style="text-align: center">
        <h1>I'm Navjot</h1>
        <h4>a passionate programmer that loves to see a well designed system come to life through code.</h4>

        <p>Currently a Computer Engineering undergrad at the University of Waterloo</p>
        <h5>
            <span class="label label-primary">Computer Engineering Student</span>
            <span class="label label-primary">Agile</span>
            <span class="label label-primary">Test Driven Development</span>
            <span class="label label-primary">Hackathons</span>
            <span class="label label-primary">Games</span>
            <span class="label label-primary">Cycling</span>

        </h5>

        <BR>


        <style>
            .work-item{
                display: inline;
            }
            .work-img{
                background: white;
                max-height: 200px;
            }
            .work-item-desc{
            }
        </style>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel">
                    <img class="work-img" src="images/blackberry.jpg"/>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="panel">
                    <img class="work-img" src="https://pbs.twimg.com/profile_images/585166735092936704/AngWhIjh.png"/>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="panel">
                    <img class="work-img" src="https://pbs.twimg.com/profile_images/2247033532/New_Zynga_Logo.jpg"/>
                </div>
            </div>
        </div>



        <BR>

        <a style="margin: 20px 0;" class="btn btn-primary" href="https://github.com/NavjotPanesar" role="button"><i
                style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-github fa-4x"></i>github</a>
        <a style="margin: 20px 0;" class="btn btn-primary" href="files/resume.pdf" role="button"><i
                style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-file-text-o fa-4x"></i>resume</a>
        <a style="margin: 20px 0;" class="btn btn-primary" href="http://www.linkedin.com/in/navjotpanesar"
           role="button"><i style="color: #ffffff; display: block;min-width: 60px;" class="fa fa-linkedin fa-4x"></i>linkedin</a>
    </div>

</section>