<section class="hero-intro hero-header" id="introSection">
    <div class="jumbotron card hero-intro-inner">

        <img class="profile-img" src="./images/link.png" alt="profile"/>

        <div style="display: inline-block; vertical-align: middle; text-align: left">
            <h1 style="color: #00BFFF; display: inline"><b>Navjot Panesar</b></h1>
            <nav>
                <h5 class="text-primary hero-intro-subtext  ">
                    <a href="" scroll-to="aboutSection">about</a>
                    &#8226;
                    <a href="" scroll-to="projectsSection">projects</a>
                    &#8226;
                    <a href="#gallery" >gallery</a>
                    &#8226;
                    <a href="" scroll-to="blogSection">blog</a>
                </h5>
            </nav>
        </div>
    </div>
</section>