<section class="hero-intro hero-header" id="introSection" >
    <canvas id="introcanvas"  style="width: 100%; height: 100%;position: absolute; left: 0; right: 0; bottom: 0; top:0;"></canvas>

    <script src="js/snow.js"/>


    <div class="jumbotron card hero-intro-inner" id="heroheader" style="z-index: 2; position: relative; background-color: white;" >

        <canvas id="snowpanecanvas"  style="width: 100%; height: 100%;position: absolute; left: 0; right: 0; bottom: 0; top:0; z-index:3"></canvas>
        <script src = "js/snowpane.js"></script>

        <div style="z-index: 3; position: relative">
            <img class="profile-img" src="./images/link.png" alt="profile" />

            <div style="display: inline-block; vertical-align: middle; text-align: left">
                <h1 style="color: #00BFFF; display: inline"><b>Navjot Panesar</b></h1>
                <nav>
                    <h5 class="text-primary hero-intro-subtext" style="color: lightgrey">
                        <a href="" scroll-to="aboutSection">about</a>
                        &#8226;
                        <a href="" scroll-to="projectsSection">projects</a>
                        &#8226;
                        <a href="#gallery" >gallery</a>
                        &#8226;
                        <a href="" scroll-to="blogSection">blog</a>
                    </h5>
                </nav>
            </div>
        </div>

    </div>
</section>