<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div style="text-align: center; position: relative;">
    <button type="button" class="close" ng-click="cancel();" style="padding: 2px; position: absolute; top: 0px; right: 0px; z-index: 99;"> × </button>
    <img ng-if="!project.images.length" ng-src="images/tiles/{{project.thumb}}" style="max-width: 100%; max-height: 50vh;">

            <!--<div ng-repeat="image in project.images" class="Wallop-item">-->
                <!--<img ng-src="{{image.imageuri}}"/>-->
            <!--</div>-->

    <wallop-slider
            ng-if="project.images.length"
            data-animation="fade"
            data-images="project.images"
            data-current-item-index="currentSliderIndex">
    </wallop-slider>

    <div class="work-desc">
        <h2 style="font-size: 20px;  line-height: 24px;  margin-top: 10px;  margin-bottom: 5px;  color: white;">
            {{project.title}}</h2>

        <p style="font-size: 12px;  line-height: 18px;  color: #e4f5f5;">{{project.description}}</p>
    </div>

    <p>{{project.content}}</p>

    <a ng-if="!project.urls.length" style=" margin: 10px 0; display: inline-block" class="btn btn-primary btn-block" role="button"
       href="{{project.url}}" ng-click="cancel();">VIEW</a>

    <div ng-if="project.urls.length" ng-repeat="url in project.urls">
        <a style=" margin-bottom: 10px; display: inline-block" class="btn btn-primary btn-block" role="button"
           href="{{url.uri}}" ng-click="cancel();">{{url.label}}</a>
    </div>

</div>

