

<div ng-if="swf" ng-include="'partials/swf.html'"></div>


<div ng-include="'partials/view-header.html'"></div>
<style>
    img{
        max-width: 100%;
    }
</style>

<div ng-if="post.content && !post.images.length" class="container panel card jumbotron" style="padding: 60px; background: white; position: relative; bottom: 60px;">
    <p ng-bind-html="post.content" style="font-size: 18px;">
        <!-- bbcode will just have to be parsed server side, way easier than trying to hook a js lib into ang for this -->
    </p>
</div>

<div ng-if="post.images.length && !post.content" class="container panel card jumbotron" style="padding: 60px; background: white; position: relative; bottom: 60px;">

    <wallop-slider
            ng-if="post.images.length"
            data-animation="fade"
            data-images="post.images"
            data-current-item-index="currentSliderIndex">
    </wallop-slider>

    <BR/>

    <div ng-if="post.urls.length" ng-repeat="url in post.urls" style=" text-align: center;">
        <a style=" margin-bottom: 10px; display: inline-block;" class="btn btn-primary btn-block" role="button"
           href="{{url.uri}}" ng-click="cancel();">{{url.label}}</a>
    </div>
</div>

<div ng-if="post.images.length && post.content" class="container panel card jumbotron" style="padding: 60px; background: white; position: relative; bottom: 60px;">

    <div class="row">
        <div class="col-lg-8 ">
            <p ng-bind-html="post.content" style="font-size: 18px;">
                <!-- bbcode will just have to be parsed server side, way easier than trying to hook a js lib into ang for this -->
            </p>
        </div>
        <div class="col-lg-4 ">
            <wallop-slider
                    ng-if="post.images.length"
                    data-animation="fade"
                    data-images="post.images"
                    data-current-item-index="currentSliderIndex">
            </wallop-slider>
        </div>
    </div>

    <BR/>

    <div style="text-align: center">
        <a style=" margin: 10px; min-width: 100px;"  ng-if="post.urls.length" ng-repeat="url in post.urls"  class="btn btn-primary" role="button"
           href="{{url.uri}}" ng-click="cancel();">{{url.label}}</a>
    </div>
</div>

<div class="container panel card">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #03a9f4">
            <h1><i class='fa fa-comments-o'></i> Comments </h1>
        </div>
    </div>


    <div ng-include="'partials/comment-form.html'" ng-controller="CommentCtrl"></div>

</div>
